* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto !important;
    padding: 0 !important;
}

.img-responsive {
    background: url("../images/heroBG.jpg");
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.jumbotron {
    background: none;
    padding: 20rem 0 10rem 0;
}

#logo {
    width: 30vw;
}

h1 {
    color: white;
}

.footer {
    /* background-color: rgb(43, 43, 43); */
    padding: .5rem 0;
    background: none;
    width: 100%;
    position: fixed;
    bottom: 0px;
}

#copyright {
    color: rgba(255, 255, 255, 0.4);
    padding: .5rem 0 0 0;
}